@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111111;
  --foreground: #ffffff;
}

body {
  background-color: #111111;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

/* Custom Safe Area Padding for iOS & Android */
.pb-safe {
  padding-bottom: max(1rem, env(safe-area-inset-bottom));
}

.pt-safe {
  padding-top: max(1rem, env(safe-area-inset-top));
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #111111;
}

::-webkit-scrollbar-thumb {
  background: #2A2A2A;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF6B00;
}
